APP_NAME="FN12 App"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=scouting_app
DB_USERNAME=scouting
DB_PASSWORD=scouting

DB_ROOT_PASSWORD=root
DB_PUBLISH_PORT=3306
APP_PUBLISH_PORT=8080
RUN_MIGRATIONS=true

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
VITE_WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=
WEBPUSH_VAPID_SUBJECT=mailto:admin@example.com
